head{
    background: url(../img/spikes.png);
}

h1{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    color:rgb(73, 107, 87);
    text-align: center;
}
h5{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    color:rgb(73, 107, 87);
    text-align: center;
}
body{
    background: url(../img/beige-tiles.png);
}

#header ul {
    margin-top: 20px;
    color:rgb(73, 107, 87);
    background: url(../img/spikes.png);
}

#links ul {
    margin-top: 20px;
    color:rgb(73, 107, 87);
    background: url(../img/spikes.png);
    text-align: center;
    color: aquamarine;
}

#links a {
    padding: 10px 30px;
    display: inline-block;
}

#mainArea p {
    color:rgb(73, 107, 87);
    background: url(../img/spikes.png);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    height: 1000px;
    text-indent: 40px;
    line-height: 50px;
}

#mainArea img {
    margin-top: 50px;
    margin-left: 40px;
    border: 4px solid;
}

#mainArea span {
    margin-top: 60px;
    position: relative;
    left: 72px;
    top: 50px;
    font-size: 25px;
}

a:visited{
    text-decoration: none;
    color:rgb(73, 107, 87);
}

a:hover{
    text-decoration: none;
    color:rgb(58, 78, 66);
}