head{
    background: url(../img/spikes.png);
}

/* not sure if this will work for mobile devices */

@media only screen and (min-width: 540px) {
    .gap{display:none;}
}
    
@media only screen and (max-width: 540px) {
    .gap{clear:both;display:block;}
}

h1{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    color:rgb(61, 109, 83);
    text-align: center;
}

h5{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    color:rgb(73, 107, 87);
    text-align: center;
}

body{
    background: url(../img/beige-tiles.png);
}

#header ul {
    margin-top: 20px;
    color:rgb(73, 107, 87);
    background: url(../img/spikes.png);
}

#links ul {
    margin-top: 20px;
    margin-bottom: 40px;
    color:rgb(73, 107, 87);
    background: url(../img/spikes.png);
    text-align: center;
    color: aquamarine;
}

#links a {
    padding: 10px 30px;
    display: inline-block;
}

#mainArea{
    position:relative;
}

.mainArea article{
    color:rgb(74, 79, 104);
    background: url(../img/spikes.png);
}

#mainArea h2{
    color:rgb(61, 109, 83);
}

#mainArea img {
    color:rgb(74, 79, 104);
    position:absolute;
    border: 4px solid;
}

#mainArea span {
    text-anchor: middle;
    margin-top: 60px;
    position: relative;
    left: 110px;
    top: 50px;
    font-size: 25px;
}

a:visited{
    text-decoration: none;
    color:rgb(73, 107, 87);
}

a:hover{
    text-decoration: none;
    color:rgb(58, 78, 66);
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgb(74, 79, 104);
}