*
{
    margin: 0;
    padding: 0;
}
.gulliver,.cranky,.kato,.jewel,.jobselection
{
    display: block;
    position: absolute;
    width: 200px;
    height: 413px;
}
.gulliver{
    animation: fade1 15s infinite;
}

.cranky{
    animation: fade2 15s infinite;
}

.kato{
    animation: fade3 15s infinite;
}

.jewel{
    animation: fade4 15s infinite;
}

.jobselection{
    animation: fade5 15s infinite;
}

@keyframes fade1{
    0%{opacity: 1;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade2{
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade3{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 1;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade4{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade5{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}